<a href="https://colab.research.google.com/github/MohanaR01/Data-science/blob/main/MissingValuesHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Importing libraries***

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
from google.colab import files
uploaded = files.upload()

Saving framingham.csv to framingham.csv

In [9]:
df = pd.read_csv('framingham.csv')

In [10]:
df.head(10)

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0
5     0   43        2.0              0  ...  30.30       77.0     99.0           0
6     0   63        1.0              0  ...  33.11       60.0     85.0           1
7     0   45        2.0              1  ...  21.68       79.0     78.0           0
8     1   52        1.0              0  ...  26.36       76.0     79.0           0
9     1   43        1.0              1  ...  23.61       93.0     88.0           0

[10 rows x 16 columns]

In [ ]:
df.tail()

      male  age  education  ...  heartRate  glucose  TenYearCHD
4233     1   50        1.0  ...       66.0     86.0           1
4234     1   51        3.0  ...       65.0     68.0           0
4235     0   48        2.0  ...       84.0     86.0           0
4236     0   44        1.0  ...       86.0      NaN           0
4237     0   52        2.0  ...       80.0    107.0           0

[5 rows x 16 columns]

# **Missing Values Handling**

In [11]:
df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
np.unique(df['education'].values)

array([ 1.,  2.,  3.,  4., nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan])

From the above analysis, it is noted that except education the rest of the variables which has nAn values are of continous type.

**Imputation of classification and continous variables**

In [12]:
#Imputation of classification variable using 'fillna'
df1 = df.copy()
col = ['education']
df1[col] = df1[col].fillna(df1.mode().iloc[0])

In [13]:
df1[col]

      education
0           4.0
1           2.0
2           1.0
3           3.0
4           3.0
...         ...
4233        1.0
4234        3.0
4235        2.0
4236        1.0
4237        2.0

[4238 rows x 1 columns]

In [14]:
df1.isnull().sum()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [45]:
#Imputation of continous variable using 'IterativeImputer'
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [46]:
imp = IterativeImputer(max_iter=10, random_state=0)

In [49]:
df2 = pd.DataFrame(imp.fit_transform(df1),columns= df1.columns)

In [50]:
df2.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64